* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #001e4d;
}
/* MODAL Popup */
#closeModalBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(9, 20, 80);
    color: #fff;
    border: none;
    border-radius: 30px;
}
.main-header{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
.main-paragraph {
    margin-bottom: 20px;
    font-size: 18px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    padding-top: 60px;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.container {
    max-width: 600px;
    margin: 100px auto 0 ;
    padding: 30px;
    text-align: center;
    background: #fff;
    width: 90%;
    border-radius: 10px;
}
h1 {
    font-size: 25px;
    border-bottom: 1px solid #333;
    color:#001e4d;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: left;
}
#quiz-container {
    padding: 20px 0;
}

h2 {
    color: #001e4d;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.answer-btn {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #222;
    border-radius: 4px;
    background: #fff;
    color: #222;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    text-align: left;
    transition: all 0.3s;
}
.answer-btn:hover {
    background: #222;
    color: #fff;
}   

#next-btn {
    background: #001e4d;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px auto 0;
    font-weight: 500;
    width: 150px;
    display: none;
}

#restart-btn {
    background: #001e4d;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px auto 0;
    font-weight: 500;
    width: 150px;
    display: none;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(9, 20, 80);
}